/* BASICS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Sets the grid to a 100% height (100VH) in body and html */
html,
body,
.gridContainer {
  height: 100%;
}

body {
  margin: 0;
  background: #333333;
  color: #ffffff;
  overflow: hidden;
}

:root {
  --blueDark: #2788a3;
  --blueLight: #3db6c7;
  --DarkBack: #333333;
  --WhiteFont: #ffffff;
  --FontFamily: "Roboto", sans-serif;
}

/* Our wrapper center aligning the site and height*/
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Our Content holder for width and background color */
.content {
  width: 100vw;
  aspect-ratio: 16 / 9;
  background: var(--DarkBack);
  margin: 50px; /* margin around all the content */
  display: flex;
}

/* Main Grid Container  */
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1.7fr 0.1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "newsApi newsApi asideGridContainer"
    "weatherApi eventsContainer asideGridContainer"
    "weatherApi eventsContainer asideGridContainer";
}

/* Our News API */

.newsRss {
  background: var(--blueLight);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px 15px 0 0;
  grid-area: newsApi;
  padding: 15px 20px;
  max-width: 100%;
  max-height: 100%;
}

.feedCardContainer {
  grid-area: newsApi;
}

.feedCardImg {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.feedCardContent {
  width: 300px;
  height: 350px;
  background: var(--blueDark);
  border-radius: 0 0 10px 10px;
  padding: 30px;
  border: solid 1px var(--WhiteFont);
}

.feedCardContent h1 {
  font-family: var(--FontFamily);
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: 1px;
  color: var(--WhiteFont);
  padding: 8px 8px 0 8px;
}

.feedCardContent p {
  font-family: var(--FontFamily);
  font-size: 1.2rem;
  line-height: 20px;
  color: var(--WhiteFont);
  padding: 20px 5px 5px 5px;
}

/* Our Weather API */
.weatherApi {
  background: var(--blueDark);
  border-radius: 0 0 15px 15px;
  grid-area: weatherApi;
}

.weatherApi img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: 30%;
}

.weatherApi hr {
  border: var(--blueLight) solid 3px;
  border-radius: 50px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.currentTemperatur {
  color: var(--WhiteFont);
  font-family: var(--FontFamily);
  font-size: 3rem;
  /* margin: 0 0 80px 0; */
}

.weatherContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
}

.windSpeed {
  color: var(--WhiteFont);
  font-family: var(--FontFamily);
  font-size: 3rem;
  /* margin: 0 0 80px 0 */
}

/* Our Events Container */
.eventsContainer {
  background: var(--blueDark);
  border-radius: 0 0 15px 15px;
  grid-area: eventsContainer;
  padding: 15px 20px;
  overflow: hidden;
}

.eventsContainer h2 {
  margin-bottom: 20px;
  font-family: var(--FontFamily);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.event-item {
  background: var(--blueLight);
  border-radius: 5px 5px 5px 5px;
  padding: 15px 25px;
  font-family: var(--FontFamily);
  font-weight: regular;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Grid */
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background: var(--blueLight);
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 10px;
}

/* Our aside container holding timeJs & galleryJs */
.asideGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "timeJs timeJs timeJs"
    "galleryJs galleryJs galleryJs"
    "galleryJs galleryJs galleryJs";
  grid-area: asideGridContainer;
}

/* Our timeJs */
.timeJs {
  background: var(--blueLight);
  border-radius: 15px 15px 0 0;
  grid-area: timeJs;
  display: grid;
}

/* Clock ID for styling */
#timeJsClock {
  color: var(--WhiteFont);
  font-family: var(--FontFamily);
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Our galleryJs */
.galleryJs {
  border-radius: 0 0 15px 15px;
  grid-area: galleryJs;
  overflow: hidden;
}

.galleryJs img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
